{:optimizations :advanced, :asset-path "app.out", :output-dir "/opt/hostedtoolcache/Boot/2.8.3-10-2/x64/cache/tmp/home/runner/work/AndrewDolby.com/AndrewDolby.com/1cn/-7gyx00/app.out", :output-to "/opt/hostedtoolcache/Boot/2.8.3-10-2/x64/cache/tmp/home/runner/work/AndrewDolby.com/AndrewDolby.com/1cn/-7gyx00/app.js", :main boot.cljs.main4111, :output-wrapper true, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__774 0x4a3aa6ea "adzerk.boot_cljs.impl$compile_cljs$handler__774@4a3aa6ea"]]}